:root{
    --fundo:	#FF00FF;
    --cartao-frente: 	#C71585;
    --catao-verso:  #FF1493;
    --destaque: 		#00FFFF;
    --preto: #000000; 
    --branco: #ffffff;
}
body{
    background-color: var(--fundo);
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
}
